JENKINS_HTTP_PORT=8088
JENKINS_AGENT_PORT=50088
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=<JENKINS_ADMIN_PASSWORD>
SATRIA_URL=http://<SATRIA_HOST>:<SATRIA_PORT>
SATRIA_API_TOKEN=<SATRIA_API_TOKEN>
SATRIA_ASSET_CODE=JENKINS-DEMO
SATRIA_ASSET_NAME=Jenkins Demo Service
