JENKINS_HTTP_PORT=8088
JENKINS_AGENT_PORT=50088
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=admin123!
SATRIA_URL=http://10.216.208.249:8090
SATRIA_API_TOKEN=change-me-pipeline-token
SATRIA_ASSET_CODE=JENKINS-DEMO
SATRIA_ASSET_NAME=Jenkins Demo Service
